/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    margin: 0;
}

aside,
footer,
main,
nav,
section,
article,
header {
    display: block;
}

h2{
    position: absolute;
    height: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 100px;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}


.margin{
    margin-left: 40px;
}

#logo h1{
    font-family: "Nunito";
    text-decoration: none;
    color: #3E3F43;
    position: absolute;
    align-items: center;
    font-weight: 100px;
    font-size: 24px;
    left: 80px;
    top: 42px;
}

#logo img{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 40px;
    top: 41px;
}


.upper{
    position: absolute;
    width: 100%;
    height: 555px;
    left: 0px;
    top: 123px;
    background: hsl(0, 83%, 86%);
}
.upper img{
    position: relative;
    width: 388px;
    height: 370px;
    top: 83px;
    margin-left:0px;
    border-radius: 150px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.10);
    left: 40px;
    background-color: #f9f3f3;
}


.upper p{
    position: absolute;
    width: 700px;
    left: 506px;
    top: 83px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #3E3F43;
}

.highlight{
    font-weight: 900;
    font-size: 34px;
}

.upper h3{
    position: absolute;
    width: 448px;
    height: 66px;
    left: 506px;
    top: 197px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;

    color: #000000;
}


.about h2{
    top: 702px;
    width: 89px;
}


.about p{
    position: absolute;
    height: 394px;
    top: 766px;
    width: 741px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: justify;
    color: #000000;
}

.exercises h2{
    position: relative;
    width: 140px;
    top: 1300px;
    left: 40;
}

.exercises div{
    display: inline-block;
    border-radius: 30px;
    position: relative;
    width: 200px;
    height: 264px;
    top: 1320px;
    
}

.exercises h4{
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900px;
    font-size: 16px;
    line-height: 24px;
    width: 80px;
    height: 24px;
    left: 24px;
    top:128px;
    color: #000000;
}

.exercises button{
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    left: 24px;
    top: 184px;
    color: #171F46;
}



.exercises img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 24px;
    left: 24px;
    border-radius: 80%;
}

.ex1, .ex1 button:hover{
    background: #FDEDE5;
    color: #FDEDE5;
}


.ex2,.ex2 button:hover{
    background: #EBF1FF;
    color: #EBF1FF;   
}


.ex3, .ex3 button:hover{
    background: #EBFFEC;
    color: #EBFFEC;
}

.ex4, .ex4 button:hover{
    background: #FFEBFC;
    color: #FFEBFC;
}

.ex5, .ex5 button:hover{
    background: #FFFEEB;
    color: #FFFEEB;
}


.exercises button:hover{
    background-color: #171F46;
}


.ex2,.ex3,.ex4,.ex5{
    margin-left: 24px;
}



.languages{
    position: absolute;
    top: 1660px;
    width: 364px;
}

.languages ul{
    position: absolute;
    top: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: justify;
    color: #000000;
}

.myChoice h2{
    position: absolute;
    top: 1910px;
}

.myChoice div{
    position: absolute;
    width: 1120px;
    height: 508px;
    left: 40px;
    top: 1975px;
    background: #dad9d9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.00);   
}



.myChoice img:hover{
    animation: pulse 2s infinite;
    animation-iteration-count: 2;

}

.myChoice div img{
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 10px;
}

#hobbies1, #hobbies:hover{
    top: 10px;
    left: 10px;
}

#hobbies2{
    top: 237px;
    left: 25px;
}

#hobbies3{
    top: 10px;
    left: 40px;
}

#hobbies4{
    top: 237px;
    left: 58px;
}

#hobbies5{
    position: absolute;
    width: 260px;
    height: 200px;
    top: 290px;
    left: 10px;
}

#hobbies6{
    position: absolute;
    width: 260px;
    height: 200px;
    top: 10px;
    left: 290px;
}

#hobbies7{
    position: absolute;
    width: 260px;
    height: 200px;
    top: 297px;
    left: 570px;
}

#hobbies8{
    position: absolute;
    width: 260px;
    height: 200px;
    top: 10px;
    left: 850px;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

footer{
    position: absolute;
    width: 100%;
    height: 301px;
    top: 2720px;
}

footer h4{
    position: absolute;
    top: 32px;
    left: 40px;
    width: 90px;
    height: 25px;
    left: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

footer img{
    position: absolute;
    width: 1200px;
    height: 301px;
}

.Media a{
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #8D8D8D;
    top:73px;
    left: 40px;
}

footer h6{
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #8D8D8D;
    top: 232px;
    left: 40px;
}